@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&display=swap");
* {
  margin: 0;
  font-family: "Kanit", sans-serif;
}

body {
  background-color: #fffffa;
}

div {
  border: 1px solid white;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell {
  transition: 300ms;
}

#column-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 8px 0px 15px -9px lightgrey;
  font-size: 30px;
  font-weight: 200;
  width: 20%;
}

#column-2 {
  flex-grow: 1;
}

#header {
  text-align: center;
  font-size: 25px;
  height: 80px;
  margin-bottom: 40px;
  box-shadow: 0px 10px 10px #d1d1d1;
}

#content {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

#option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

#container {
  width: 70vh;
  height: 70vh;
  display: grid;
}

#container > div {
  border: 1px solid black;
  background-color: white;
  margin: 0 -1px -1px 0;
}

#color-selector {
  --webkit-appearance: none;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 0px 8px 5px lightgrey;
  transition: 200ms;
}

#color-selector::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color-selector::-webkit-color-swatch {
  border: 0;
}

#color-selector:hover {
  box-shadow: 0px 0px 12px 8px lightgrey;
  width: 65px;
  height: 65px;
}

#color-selector-row {
  height: 100px;
}

#clear-button {
  font-size: 20px;
  width: 70px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  background-color: white;
}

#clear-button:hover {
  transform: scale(1.05);
  border: 2px solid skyblue;
  border-radius: 8px;
}